body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
	overflow: hidden;
  z-index: 1;
}

nav {
  position: fixed;
  width: 70vw;
  height: 70px;
  margin: 0 15vw 0 15vw;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Playfair Display', serif;
  color: beige;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0));
  z-index: 99;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: beige;
}
.logo:hover {
  font-style: italic;
  color: goldenrod;
  text-shadow: 0 0 30px white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display:  flex;
  gap: 30px;
}

.navEach:hover {
  font-style: italic;
  color: goldenrod;
  text-shadow: 0 0 30px white;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #ffeded;
  margin-left: 15vw;
  z-index: 90;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 70vw;
  height: 70px;
  margin: 0 15vw 0 15vw;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair Display', serif;
  color: beige;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0));
  z-index: 99;
}