html {
  background: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: url("./icons/cursor-yellow.png"), auto;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  cursor: url("./icons/pointer-yellow.png"), pointer;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100%;
  padding: 30px 15vw 50px 15vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0)
  );
  z-index: 99;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: beige;
  z-index: 100;
}
.logo:hover {
  font-style: italic;
  color: goldenrod;
}
.logo:active {
  color: gold;
  font-size: 22px;
  text-shadow: 0 0 30px beige;
}

.logo:after {
  content: "";
  position: absolute;
  top: 53px;
  height: 1px;
  background: goldenrod;
  -webkit-animation: logoUnderOut 0.5s ease-in-out forwards;
  animation: logoUnderOut 0.5s ease-in-out forwards;
}
.logo:hover:after {
  -webkit-animation: logoUnderIn 0.5s ease-in-out forwards;
  animation: logoUnderIn 0.5s ease-in-out forwards;
}
@-webkit-keyframes logoUnderOut {
  from {
    width: 175px;
  }
  to {
    width: 0px;
  }
}
@keyframes logoUnderOut {
  from {
    width: 175px;
  }
  to {
    width: 0px;
  }
}
@-webkit-keyframes logoUnderIn {
  from {
    width: 0px;
  }
  to {
    width: 175px;
  }
}
@keyframes logoUnderIn {
  from {
    width: 0px;
  }
  to {
    width: 175px;
  }
}

.logoName {
  -webkit-animation: logoAnim 10s ease-out infinite;
  animation: logoAnim 10s ease-out infinite;
}
.logoName:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.logoName:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.logoName:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.logoName:nth-of-type(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.logoName:nth-of-type(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.logoName:nth-of-type(6) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.logoName:nth-of-type(7) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.logoName:nth-of-type(8) {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}
.logoName:nth-of-type(9) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.logoName:nth-of-type(10) {
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}
.logoName:nth-of-type(11) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.logoName:nth-of-type(12) {
  -webkit-animation-delay: 1.65s;
  animation-delay: 1.65s;
}
.logoName:nth-of-type(13) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.logoName:nth-of-type(14) {
  -webkit-animation-delay: 1.95s;
  animation-delay: 1.95s;
}
.logoName:nth-of-type(15) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
@-webkit-keyframes logoAnim {
  5% {
    opacity: 0;
    transform: translateY(-15px)
  }
  25% {
    opacity: 0;
    transform: translateY(15px)
  }
  30% {
    opacity: 1;
    transform: translateY(0px)
  }
}
@keyframes logoAnim {
  5% {
    opacity: 0;
    transform: translateY(-15px)
  }
  25% {
    opacity: 0;
    transform: translateY(15px)
  }
  30% {
    opacity: 1;
    transform: translateY(0px)
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}
.navEach {
  text-decoration: none;
  color: beige;
}
.navEach:before {
  content: ".";
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  line-height: 1px;
  padding-right: 2px;
  opacity: 0;
}
.navEach:hover {
  text-shadow: 0 0 30px white;
  font-weight: bolder;
}
.navEach:hover::before {
  opacity: 1;
}
.navEach:active {
  font-size: 14px;
  text-shadow: 0 0 30px white;
}

.navSmall {
  display: none;
}

.hamburger {
  z-index: 100;
}
.line {
  width: 25px;
  height: 2px;
  background-color: beige;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: url("./icons/pointer-yellow.png"), pointer;
}
.hamburger.is-active .line:nth-child(1) {
  width: 20px;
  background-color: goldenrod;
  -webkit-transform: translateY(8px) translateX(-5px) rotate(45deg);
  -ms-transform: translateY(8px) translateX(-5px) rotate(45deg);
  -o-transform: translateY(8px) translateX(-5px) rotate(45deg);
  transform: translateY(8px) translateX(-5px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(3) {
  width: 20px;
  background-color: goldenrod;
  -webkit-transform: translateY(-8px) translateX(9px) rotate(-45deg);
  -ms-transform: translateY(-8px) translateX(9px) rotate(-45deg);
  -o-transform: translateY(-8px) translateX(9px) rotate(-45deg);
  transform: translateY(-8px) translateX(9px) rotate(-45deg);
}

.subMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  padding: 75px 15vw 100px 80vw;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0)
  );
}
.subMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: rgb(255, 249, 239);
  margin: 0 15vw 0 15vw;
  z-index: 90;
  scroll-snap-align: center;
}

#section1 {
  justify-content: flex-end;
}
#section2 {
  justify-content: center;
}
#section3,
#section4 {
  justify-content: flex-start;
}
#section5 {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#content1 {
  opacity: 0;
  transform: translate3d(0, 80px, 0);
  transition: opacity 1s 0.1s,
    transform 1s cubic-bezier(0.13, 0.07, 0.26, 0.99) 0s;
}
#content2 {
  opacity: 0;
  transform: translate3d(0, 80px, 0);
  transition: opacity 1s 0.3s,
    transform 1s cubic-bezier(0.13, 0.07, 0.26, 0.99) 0.2s;
}
#content3 {
  opacity: 0;
  transform: translate3d(0, 80px, 0);
  transition: opacity 1s 0.6s,
    transform 1s cubic-bezier(0.13, 0.07, 0.26, 0.99) 0.4s;
}
.is-visible #content1,
.is-visible #content2,
.is-visible #content3 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.sec1Tit {
  flex-wrap: wrap;
  font-size: 60px;
  text-shadow: 0 0 30px white;
}
.sec1Name {
  margin-top: -12px;
  flex-wrap: wrap;
  color: beige;
  font-size: 40px;
  line-height: 38px;
  text-shadow: 0 0 20px black, 0 0 40px black;
}
.sec1Des {
  width: fit-content;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin: 13px 0 13px 0;
  text-shadow: 0 0 20px black, 0 0 40px black;
  background-color: gold;
  background-image: linear-gradient(60deg, #b721ff, #2af598, #ffee37, #fa709a);
  background-size: 200%;
  background-position: 0;
  -webkit-animation: moveGradient 6s alternate infinite;
  animation: moveGradient 6s alternate infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@-webkit-keyframes moveGradient {
  50% {
    background-position: 100%;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100%;
  }
}

.secPortTit {
  flex-wrap: wrap;
  font-size: 32px;
  line-height: 32px;
  margin-top: 20vh;
  text-shadow: 0 0 30px white;
}
.secPortFrame {
  height: 50vh;
  margin-top: 2vh;
  background-color: rgba(0, 0, 0, 0.6);
  border: rgba(88, 0, 44, 0.726) solid 0.8px;
  box-shadow: 1px 0 10px 0 rgba(50, 0, 70, 0.349);
  border-radius: 10px;
}

.sec5Tit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 40px;
  line-height: 32px;
  text-shadow: 0 0 30px white;
  margin-top: 18vh;
}
.hand {
  width: 40px;
  height: 40px;
  background: url("./icons/icon-so-so-96.png") no-repeat;
  background-size: cover;
  -webkit-animation: handWave 2.5s ease-in-out infinite;
  animation: handWave 2.5s ease-in-out infinite;
}
@-webkit-keyframes handWave {
  4% {
    transform: rotate(-25deg);
  }
  8% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-25deg);
  }
  16% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  24% {
    transform: rotate(0deg);
  }
  28% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0deg);
  }
}
@keyframes handWave {
  4% {
    transform: rotate(-25deg);
  }
  8% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-25deg);
  }
  16% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  24% {
    transform: rotate(0deg);
  }
  28% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0deg);
  }
}

.secContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  gap: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
.secPhone {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 0 10px 0 rgb(220, 103, 0);
  background: linear-gradient(
    132deg,
    #6424dc,
    #f80759,
    #ff9318
  );
  background-size: 300%;
  background-position: 0;
  -webkit-animation: moveGradient 8s alternate infinite;
  animation: moveGradient 8s alternate infinite;
  display: flex;
  align-items: center;
}
.secPhone:after {
  content: "";
  position: absolute;
  width: 155px;
  height: 34px;
  margin: 0 3px 0 42px;
  border-radius: 8px;
  background-color: black;
}
.phone {
  width: 25px;
  height: 25px;
  margin-left: 11px;
  margin-right: 18px;
  background: url("./icons/icon-whatsapp-50.png") no-repeat;
  background-size: cover;
  z-index: 10;
}
.phone:hover {
  filter: invert(100%);
}
.phone:active {
  transform: scale(0.9);
}
.phoneNumber {
  z-index: 10;
}

.secMail {
  width: 200px;
  height: 40px;
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 1px 0 10px 0 rgb(216, 0, 220);
  background: linear-gradient(
    132deg,
    #ff9318,
    #f80759,
    #6424dc
  );
  background-size: 300%;
  background-position: 0;
  -webkit-animation: moveGradient 8s alternate infinite;
  animation: moveGradient 8s alternate infinite;
}
.secMail:hover {
  font-weight: bolder;
  box-shadow: 0px 0 15px 0 rgb(255, 145, 0);
}
.secMail:active {
  transform: scale(0.9);
}
.mail {
  width: 30px;
  height: 30px;
  background: url("./icons/icon-envelope-64.png") no-repeat;
  background-size: cover;
}

.secSocial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.social {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.social:nth-of-type(1) {
  background: url("./icons/icon-linkedin-50.png") no-repeat;
  background-size: cover;
  filter: invert(39%) sepia(57%) saturate(2362%) hue-rotate(297deg) brightness(101%) contrast(101%);
}
.social:nth-of-type(2) {
  background: url("./icons/icon-github-64.png") no-repeat;
  background-size: cover;
  filter: invert(54%) sepia(80%) saturate(935%) hue-rotate(347deg) brightness(101%) contrast(103%);
}
.social:nth-of-type(3) {
  background: url("./icons/icon-instagram-64.png") no-repeat;
  background-size: cover;
  filter: invert(93%) sepia(32%) saturate(1390%) hue-rotate(338deg) brightness(109%) contrast(102%);
}
.social:nth-of-type(4) {
  background: url("./icons/icon-facebook-64.png") no-repeat;
  background-size: cover;
  filter: invert(85%) sepia(61%) saturate(1211%) hue-rotate(68deg) brightness(102%) contrast(104%);
}
.social:nth-of-type(5) {
  background: url("./icons/icon-youtube-64.png") no-repeat;
  background-size: cover;
  filter: invert(68%) sepia(66%) saturate(1835%) hue-rotate(152deg) brightness(101%) contrast(104%);
}
.social:nth-of-type(6) {
  background: url("./icons/icon-behance-96.png") no-repeat;
  background-size: cover;
  filter: invert(16%) sepia(99%) saturate(6552%) hue-rotate(260deg) brightness(118%) contrast(121%);
}
.social:hover {
  filter: invert(48%) sepia(64%) saturate(995%) hue-rotate(17deg)
    brightness(102%) contrast(101%);
  transform: scale(1.1);
  box-shadow: 0px 0 15px 0 black;
}
.social:active {
  filter: invert(100%);
  transform: scale(0.9);
}

.nextButton {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}
.next {
  width: 24px;
  height: 24px;
  -webkit-animation: next 2s infinite;
  animation: next 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.next:nth-of-type(1) {
  border-left: 1px solid rgb(168, 255, 80);
  border-bottom: 1px solid rgb(168, 255, 80);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.next:nth-of-type(2) {
  border-left: 1px solid rgb(255, 203, 80);
  border-bottom: 1px solid rgb(255, 203, 80);
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.next:nth-of-type(3) {
  border-left: 1px solid rgb(255, 80, 159);
  border-bottom: 1px solid rgb(255, 80, 159);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes next {
  50% {
    opacity: 1;
  }
}
@keyframes next {
  50% {
    opacity: 1;
  }
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 3vh 15vw 0 15vw;
  display: flex;
  justify-content: flex-end;
  gap: 10vw;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 20%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0)
  );
  box-sizing: border-box;
  z-index: 99;
}

.sound {
  width: 40px;
  height: 40px;
  background: url("./icons/icon-mute-96.png") no-repeat;
  background-size: cover;
  -webkit-animation: sound 5s infinite;
  animation: sound 5s infinite;
}
.sound:hover {
  cursor: url("./icons/pointer-yellow.png"), pointer;
}
.sound:active {
  transform: scale(0.9);
}
@-webkit-keyframes sound {
  50% {
    opacity: 1;
  }
}
@keyframes sound {
  50% {
    opacity: 1;
  }
}



@media only screen and (max-width: 1366px) {
  .next {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .logo::after {
    top: 60px;
  }
  .navBig {
    display: none;
  }
  .navSmall {
    display: flex;
  }
  .secPortTit {
    margin-top: 15vh;
  }
  .sound {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    padding: 30px 10vw 50px 10vw;
  }
  .subMenu {
    padding: 75px 10vw 100px 80vw;
  }
  section {
    margin: 0 10vw 0 10vw;
  }
  .secPortFrame {
    margin: 0;
  }
  .sec5Tit {
    font-size: 30px;
    margin-top: 15vh;
  }
  .hand {
    width: 30px;
    height: 30px;
  }
  .foot {
    padding: 0 10vw 0 10vw;
  }
}
