html {
  background: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
  
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
	overflow: hidden;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100%;
  padding: 30px 15vw 50px 15vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Playfair Display', serif;
  color: beige;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0));
  z-index: 99;
}

.logo {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.logo::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.5s;
}
.logo:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display:  flex;
  gap: 30px;
}
.navEach:hover {
  font-style: italic;
  color: goldenrod;
  text-shadow: 0 0 30px white;
}

.navSmall {
  display: none;
}

.hamburger {
  z-index: 100;
}

.line{
  width: 30px;
  height: 3px;
  background-color: wheat;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger:hover .line{
  background-color: goldenrod;
  height: 2px;
  margin: 6px auto;
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.subMenu{
	display: none;
  position: absolute;
  top: 0;
  right: calc(15vw - 20px);
  width: 80px;
  padding: 90px 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.subMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display:  flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 249, 239);
  margin: 0 15vw 0 15vw;
  z-index: 90;
}

.sec1Tit {
  flex-wrap: wrap;
  font-size: 60px;
  margin-top: 55vh;
  text-shadow: 0 0 50px white;
}
.sec1Name {
  margin-top: -12px;
  flex-wrap: wrap;
  font-size: 40px;
  text-shadow: 0 0 40px black;
}
.sec1Des {
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 13px 0 15px 0;
  text-shadow: 0 0 40px white;
  background-color: wheat;
  background-image: linear-gradient(
    60deg,
    #b721ff,
    #2af598,
    #ffee37,
    #fa709a
  );
  background-size: 200% 200%;
  background-position: 0 50%;
  animation: moveGradient 6s alternate infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.next {
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.next:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.next:nth-of-type(2) {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.next:nth-of-type(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.foot {
  position: fixed;
  bottom: 0;
  width: 70vw;
  height: 70px;
  margin: 0 15vw 0 15vw;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Playfair Display', serif;
  color: beige;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0));
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  .navBig {
    display: none;
  }
  .navSmall {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    padding: 30px 10vw 50px 10vw;
  }
  section {
    margin: 0 10vw 0 10vw;
  }
  .sec1Tit {
    margin-top: 33vh;
  }
}