* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}
  
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  z-index: 2;
  position: relative;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display:  flex;
  gap: 30px;
}

